.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    
}
.logo {
    color: rgb(24, 116, 236);
}
.header {
    color: rgb(24, 116, 236);
    display: flex;
}
.menu {
    color: aliceblue;
    background-color: rgb(24, 116, 236);
    padding: 15px;
}
ul {
    list-style-type: none; /* Loại bỏ dấu chấm */
    padding: 0;
    margin: 0;
}

li {
    display: inline;
    margin-right: 10px; 
}
.list-product {
    color: rgb(24, 116, 236);
    
}
.product {
    color: red;
}
.product .price {
    color: black;
}
.image {
    width: 100%;
    height: auto;

}
.row {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
.footer {
    background-color: rgb(24, 116, 236);
    height: 50px;
}
@media (max-width: 767px) {
    .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px
    }
}

@media (max-width: 479px) {
    .row {
        display: grid;
        grid-template-columns: 1fr;
    }
}